<div>
  <h1>
    {{ settings.name -}}
    {{- section.settings.header }}
  </h1>
  {% if section.settings.extra_offer %}
    <p>Additional 50% off!</p>
  {% endif %}
</div>

{% schema %}
{
  "name": "Killer Banner!",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "header",
      "default": "my Killer Banner!"
    },
    {
      "type": "checkbox",
      "id": "extra_offer",
      "label": "extra offer",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Killer Banner!"
    }
  ]
}
{% endschema %}
