<h1>Banner</h1>

{% schema %}
{
  "name": "Killer Banner!",
  "tag": "section",
  "class": "banner",
  "limit": 1,
  "settings": [
    {
      "type": "text",
      "id": "banner",
      "label": "banner text"
    }
  ]
}
{% endschema %}
